* {
  box-sizing: border-box;
  margin: 0%;
  padding: 0%;
  transition: all 0.4s ease-in-out;

  font-family: "kumbh sans", sans-serif;
  scroll-behavior: smooth;
}

.nb {
  background-color: black;

  height: 80px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: sticky;
  font-size: 1rem;
  top: 0%;
  z-index: 999;
}

.navbarcontainer {
  display: flex;
  justify-content: space-between;
  height: 80px;
  z-index: 1;
  width: 100%;
  max-width: 1300px;
  margin: 0 auto;
  padding: 0 50px;
}
#nbc {
  background-color: rgb(236, 43, 69);
  background-image: linear-gradient(to right, #ff0844, #c721b1);
  background-size: 100%;
  -webkit-background-clip: text;
  -moz-background-clip: text;
  -webkit-text-fill-color: transparent;
  -moz-text-fill-color: transparent;
  display: flex;
  align-items: center;
  cursor: pointer;
  text-decoration: none;
  font-size: 2rem;
}
.na_menu {
  display: flex;
  align-items: center;
  list-style: none;
}
.na_items {
  height: 80px;
}
.na_link {
  font-size: 1.5rem;
  border: red;
  display: flex;
  color: rgb(255, 255, 255);
  align-items: center;
  justify-content: center;
  width: 125px;
  text-decoration: none;
  height: 100%;

  transition: all 0.3 ease;
}
.na_btn {
  padding: 0 1rem;
  width: 100%;
  display: flex;
  justify-content: center;
  align-content: center;
}
.button {
  text-decoration: none;
  display: flex;
  align-content: center;
  justify-content: center;
  padding: 10px 20px;
  height: 60px;
  width: 80%;
  outline: none;
  border: none;
  border-radius: 7px;
  color: black;
  background-image: linear-gradient(to right, #f32a88, #f3592a, #a172fa);
  background-size: 100%;
  font-size: 1.5rem;
  transition: all 0.3 ease;
  align-items: center;
}
.na_link:hover {
  color: rgb(229, 255, 0);
  transition: all 0.4 ease;
}
@media screen and (max-width: 960px) {
  .navbarcontainer {
    display: flex;
    justify-content: space-between;
    z-index: 1;
    height: 80px;
    width: 100%;
    max-width: 1300px;
    padding: 0%;
  }
  .na_menu {
    z-index: -1;
    display: grid;
    grid-template-columns: auto;
    position: absolute;
    top: -1000px;
    width: 100%;
    margin: 0;
    opacity: 1;
    transition: all 0.5 ease;
  }
  .na_menu.active {
    background-color: black;
    top: 100%;
    opacity: 1;
    transition: all 0.5 ease;
    z-index: 99;
    height: 60vh;
    font-size: 1.6rem;
  }
  #nbc {
    padding-left: 20px;
  }
  .na_toggle .bar {
    width: 25px;
    height: 3px;
    margin: 5px auto;
    transition: all 0.4s ease-in-out;
    background: white;
  }

  .na_items {
    width: 100%;
  }

  .na_link {
    text-align: center;
    padding: 2rem;
    width: 100%;
    display: table;
  }

  .na_btn {
    padding-bottom: 2rem;
  }

  .button {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 80%;
    height: 80px;
    margin: 0;
  }

  #menu {
    position: absolute;
    top: 20%;
    right: 5%;
    transform: translate(5%, 20%);
  }

  .na_toggle .bar {
    display: block;
    cursor: pointer;
  }
  #menu .bar:nth-child(1) {
    background: chartreuse;
  }
  #menu .bar:nth-child(2) {
    background: rgb(236, 22, 22);
  }
  #menu .bar:nth-child(3) {
    background: rgb(255, 21, 138);
  }
  #menu.is-active .bar:nth-child(2) {
    /*after is-active that gap is important*/

    opacity: 0;
  }
  #menu.is-active .bar:nth-child(1) {
    transform: translateY(8px) rotate(45deg);
    background: rgb(30, 224, 238);
  }
  #menu.is-active .bar:nth-child(3) {
    transform: translateY(-8px) rotate(-45deg);
    background: rgb(250, 9, 69);
  }
}
/*MAin*/
.main {
  background: black;
  background: linear-gradient(
    to right rgba(48, 45, 45, 0.726),
    rgba(20, 20, 17, 0.979)
  );
  padding: 200px 0;
}
.main_container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  max-width: 1200px;
  margin: 0 auto;
  height: 90%;
  text-align: center;
  padding: 30px;
}
.heading {
  font-size: 100px;
  color: #ffff;
  margin-bottom: 24px;
}
.heading span {
  background: #40e0d0; /* fallback for old browsers */
  background: -webkit-linear-gradient(
    to right,
    #ff0080,
    #ff8c00,
    #40e0d0
  ); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(
    to right,
    #ff0080,
    #ff8c00,
    #40e0d0
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;
}
.description {
  background: #03001e; /* fallback for old browsers */
  background: -webkit-linear-gradient(
    to right,
    #fdeff9,
    #ec38bc,
    #7303c0,
    #4b38f7
  ); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(
    to right,
    #fdeff9,
    #ec38bc,
    #7303c0,
    #3d367a
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;
  font-size: 2rem;
  font-weight: 800;
}
.highlight {
  border-bottom: 4px red;
}
@media screen and (max-width: 780px) {
  .heading {
    font-size: 60px;
  }
  .description {
    font-size: 40px;
    font-weight: 400;
  }
}
/*sECTION*/
.middle {
  background: rgb(13, 14, 14);
  padding: 10rem 0;
}
.mid_container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  height: 90%;
  width: 100%;
  z-index: 1;
  max-width: 1300px;
  padding: 0 50px;
}
.middle_content {
  width: 100%;
  color: white;
}
.middle_content h1 {
  font-size: 50px;
  background: #03001e; /* fallback for old browsers */
  background: -webkit-linear-gradient(
    to right,
    #fdeff9,
    #ec38bc,
    #7303c0,
    #03001e
  ); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(
    to right,
    #fdeff9,
    #ec3865,
    #88028d,
    #00c96b
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;
  margin-bottom: 40px;
}
.middle_content h2 {
  font-size: 50px;
  background: #ee0979; /* fallback for old browsers */
  background: -webkit-linear-gradient(
    to right,
    #ff6a00,
    #ee0979
  ); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(
    to right,
    #ff6a00,
    #ee0979
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;
  margin-bottom: 28px;
}
.middle_content p {
  font-size: 2rem;
  font-weight: 300;
}
.m_btn {
  color: thistle;
  font-size: 1.5rem;
  text-decoration: none;
  background: transparent;
  margin: 2rem;
  border-bottom-color: tomato;
  border-top-color: yellow;
  border-left-color: teal;
  border-right-color: rgb(25, 145, 14);

  border-top-right-radius: 200px;

  padding: 0.5rem 1.3rem 0.5rem 0.5rem;
  transition: all 0.4s;
}
.btn {
  color: thistle;
  font-size: 1.5rem;
  text-decoration: none;
  background: transparent;
  margin: 2rem;
  border-bottom-color: rgb(71, 227, 255);
  border-top-color: rgb(32, 255, 107);
  border-left-color: rgb(236, 39, 49);
  border-right-color: rgb(255, 68, 146);

  border-top-right-radius: 200px;
  border-bottom-left-radius: 200px;

  padding: 0.5rem 1.3rem 0.5rem 1.5rem;
  transition: all 0.4s;
}
.img_container {
  text-align: center;
}
.img_card {
  margin: 10px;
  height: 500px;
  width: 500px;
  border-radius: 4px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  color: white;
  background-image: linear-gradient(to right, #00dbcd, #3a00db, #db0092);
}
img {
  width: 100%;
  height: 100%;
}
@media screen and (max-width: 1100px) {
  .mid_container {
    display: grid;
    grid-template-columns: 1fr;
    align-items: center;
    justify-content: center;
    width: 100%;
    margin: 0 auto;
    height: 90%;
  }
  .img_container {
    display: flex;
    justify-content: center;
  }
  .img_card {
    height: 325px;
    width: 425px;
  }
  .middle_content {
    text-align: center;
    margin-bottom: 4rem;
  }
  .middle_content h1 {
    font-size: 2.5rem;
    margin-top: 2rem;
  }
  .middle_content h2 {
    font-size: 3rem;
  }
  .middle_content p {
    margin-top: 1rem;
    font-size: 1.3rem;
  }
}
@media screen and (max-width: 480px) {
  .img_card {
    height: 258px;
    width: 258px;
  }
  .middle_content h1 {
    font-size: 2rem;
    margin-top: 3rem;
  }
  .middle_content h2 {
    font-size: 2rem;
  }
  .middle_content p {
    margin-top: 2rem;
    font-size: 1.3rem;
  }
  .btn {
    padding: 12px 36px;
    margin: 2.5rem 0;
  }
}
/*Services*/
.services {
  background: rgb(13, 14, 14);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
  padding: 10rem 0;
}
.services h1 {
  background: #fabad9; /* fallback for old browsers */
  background: -webkit-linear-gradient(
    to right,
    #03fc39,
    #ee09cf
  ); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(
    to right,
    #ff0040,
    #119dfa
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;
  margin-bottom: 5rem;
  font-size: 2.5rem;
}
.ser_wrap {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr;
}
.ser_card {
  margin: 10px;
  height: 425px;
  width: 300px;
  border-radius: 4px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  color: #fff;
  background-image: linear-gradient(to right, #ff0040, #119dfa);
  transition: 0.7s ease-in;
}
.ser_card:nth-child(2) {
  background: #5d4157; /* fallback for old browsers */
  background: -webkit-linear-gradient(
    to right,
    #a8caba,
    #5d4157
  ); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(
    to right,
    #a8caba,
    #5d4157
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}
.ser_card:nth-child(3) {
  background: #000428; /* fallback for old browsers */
  background: -webkit-linear-gradient(
    to right,
    #004e92,
    #000428
  ); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(
    to right,
    #004e92,
    #000428
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}
.ser_card:nth-child(4) {
  background: rgb(174, 187, 178);
  background: -webkit-linear-gradient(
    to right,
    rgb(255, 24, 24),
    rgb(252, 66, 106)
  ); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(
    to right,
    rgb(230, 32, 230),
    rgb(21, 255, 91)
  ); /* fallback for old browsers */
  /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}
.ser_card h2 {
  text-align: center;
}
.ser_card p {
  text-align: center;
  margin-top: 24px;
  font-size: 20px;
}
.ser_btn {
  display: flex;
  justify-content: center;
  margin-top: 10px;
}
.ser_card:nth-child(1) button {
  color: thistle;
  font-size: 1.5rem;
  text-decoration: none;
  background: transparent;
  margin: 2rem;
  border-bottom-color: tomato;
  border-top-color: rgb(9, 255, 0);
  border-left-color: teal;
  border-right-color: rgb(53, 14, 145);
  border-top-left-radius: 200px;
  border-bottom-right-radius: 200px;
  padding: 0.5rem 1.3rem 0.5rem 0.5rem;
  transition: all 0.4s;
}
.ser_card:nth-child(2) button {
  color: thistle;
  font-size: 1.5rem;
  text-decoration: none;
  background: transparent;
  margin: 2rem;
  border-bottom-color: rgb(194, 231, 29);
  border-top-color: rgb(255, 0, 200);
  border-left-color: rgb(128, 0, 0);
  border-right-color: rgb(34, 221, 112);
  border-top-left-radius: 200px;
  border-bottom-right-radius: 200px;
  padding: 0.5rem 1.3rem 0.5rem 0.5rem;
  transition: all 0.4s;
}
.ser_card:nth-child(3) button {
  color: thistle;
  font-size: 1.5rem;
  text-decoration: none;
  background: transparent;
  margin: 2rem;
  border-bottom-color: rgb(29, 43, 231);
  border-top-color: rgb(255, 51, 0);
  border-left-color: rgb(224, 24, 40);
  border-right-color: rgb(221, 34, 165);
  border-top-left-radius: 200px;
  border-bottom-right-radius: 200px;
  padding: 0.5rem 1.3rem 0.5rem 0.5rem;
  transition: all 0.4s;
}
.ser_card:nth-child(4) button {
  color: thistle;
  font-size: 1.5rem;
  text-decoration: none;
  background: transparent;
  margin: 2rem;
  border-bottom-color: rgb(29, 231, 164);
  border-top-color: rgb(136, 255, 0);
  border-left-color: rgb(128, 0, 0);
  border-right-color: rgb(221, 34, 106);
  border-top-left-radius: 200px;
  border-bottom-right-radius: 200px;
  padding: 0.5rem 1.3rem 0.5rem 0.5rem;
  transition: all 0.4s;
}
.ser_card button:hover {
  cursor: pointer;
  transition: 0.4s ease-in-out;
  color: tomato;
  transform: scale(1.075);
}
.ser_card:hover {
  transition: 0.3s ease-in-out;
  transform: scale(1.075);
  cursor: pointer;
}
@media screen and (max-width: 1300px) {
  .ser_wrap {
    grid-template-columns: 1fr 1fr;
    transition: 0.3s ease-in-out;
  }
}
@media screen and (max-width: 760px) {
  .ser_wrap {
    grid-template-columns: 1fr;
    transition: 0.3s ease-in-out;
  }
}
.s_btn {
  color: thistle;
  font-size: 1.5rem;
  text-decoration: none;
  background: transparent;
  margin: 0.5rem;
  border-bottom-color: rgb(29, 43, 231);
  border-top-color: rgb(255, 51, 0);
  border-left-color: rgb(224, 24, 40);
  border-right-color: rgb(221, 34, 165);
  border-radius: 200px;
  padding: 0.5rem 0.5rem 0.5rem 0.5rem;
}
/*Footer Css*/
.f_link-items h2 {
  color: white;
  align-items: center;
  justify-content: center;
  font-size: 2rem;

  text-align: center;
  margin-bottom: 2.5rem;
  margin-top: 2.5rem;
}
.f_link-items a {
  text-decoration: none;
  color: ivory;
  margin: 1rem;
  font-size: 1.3rem;
}

.f_links {
  text-align: center;
}
.f_link-items:nth-child(1) a:nth-child(2) {
  color: rgb(255, 58, 91);
}
.f_link-items:nth-child(1) a:nth-child(3) {
  color: rgb(255, 58, 156);
}
.f_link-items:nth-child(1) a:nth-child(4) {
  color: rgb(255, 81, 58);
}
.f_link-items:nth-child(1) a:nth-child(5) {
  color: rgb(58, 120, 255);
}
.f_link-items:nth-child(2) a:nth-child(2) {
  color: rgb(54, 247, 37);
}
.f_link-items:nth-child(2) a:nth-child(3) {
  color: rgb(224, 245, 32);
}
.f_link-items:nth-child(2) a:nth-child(4) {
  color: rgb(202, 19, 50);
}
.f_link-items:nth-child(2) a:nth-child(5) {
  color: rgb(58, 255, 222);
}

@media screen and (max-width: 750px) {
  .f_link-items a {
    margin-bottom: 1.5rem;
    text-decoration: none;
    color: white;
    font-size: 1rem;
    display: flex;
    justify-content: center;
    margin: 2rem;
  }
}
/*3d section*/

.container {
  font-family: "Poppins", sans-serif;
  min-height: 100vh;

  align-items: center;
  justify-content: center;
  perspective: 1000px;

  left: 10%;
  height: 50%;
  width: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.card {
  transform-style: preserve-3d;
  min-height: 40vh;
  width: 250px;
  border-radius: 10px;
  position: absolute;
  left: 60%;
  align-items: center;
  justify-content: center;
  text-align: center;
  padding: 1rem;
  box-shadow: 0 20px 20px rgb(59, 247, 99),
    0px 0px 50px rgba(238, 45, 142, 0.952);
}

.sneaker {
  min-height: 35vh;
  display: flex;
  align-items: center;
  justify-content: center;
}
.sneaker img {
  width: 10rem;
  z-index: 2;
  transition: all 0.75s ease-out;
}
.circle {
  width: 15rem;
  height: 15rem;
  background: linear-gradient(
    to right,
    rgba(245, 70, 66, 0.75),
    rgba(8, 83, 156, 0.75)
  );
  position: absolute;
  border-radius: 50%;
  z-index: 1;
}

.info h1 {
  color: whitesmoke;
  font-size: 3rem;
  transition: all 0.75s ease-out;
}
.info h3 {
  font-size: 1rem;
  padding: 2rem 0rem;
  color: #585858;
  font-weight: lighter;
  transition: all 0.75s ease-out;
}
.sizes {
  display: flex;
  justify-content: space-between;
  transition: all 0.75s ease-out;
}
.sizes button {
  padding: 0.5rem 2rem;
  background: none;
  border: none;
  box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.2);
  border-radius: 30px;
  cursor: pointer;
  font-weight: bold;
  color: #585858;
}
button.active {
  background: #585858;
  color: white;
}
.purchase {
  margin-top: 5rem;
  transition: all 0.75s ease-out;
}
.purchase button {
  width: 100%;
  padding: 1rem 0rem;
  background: #f54642;
  border: none;
  color: white;
  cursor: pointer;
  border-radius: 30px;
  font-weight: bolder;
}

@media screen and (max-width: 750px) {
  .container {
    font-family: "Poppins", sans-serif;
    min-height: 100vh;

    align-items: center;
    justify-content: center;
    perspective: 1000px;

    display: flex;
    justify-content: center;
    align-items: center;
  }
  .card {
    transform-style: preserve-3d;
    min-height: 20%;
    width: 350px;
    border-radius: 10px;
    position: absolute;
    left: 35%;
    padding: 0rem 2rem;
    box-shadow: 0 20px 20px rgb(255, 42, 202), 0px 0px 20px rgb(32, 219, 233);
  }

  .sneaker {
    min-height: 35vh;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .sneaker img {
    width: 8rem;
    z-index: 2;
    transition: all 0.75s ease-out;
  }
  .circle {
    width: 10rem;
    height: 10rem;
    background: linear-gradient(
      to right,
      rgba(245, 70, 66, 0.75),
      rgba(8, 83, 156, 0.75)
    );
    position: absolute;
    border-radius: 50%;
    z-index: 1;
  }

  .info h1 {
    font-size: 1.2rem;
    transition: all 0.75s ease-out;
  }
  .info h3 {
    font-size: 1.3rem;
    padding: 2rem 0rem;
    color: #585858;
    font-weight: lighter;
    transition: all 0.75s ease-out;
  }
  .sizes {
    display: flex;
    justify-content: space-between;
    transition: all 0.75s ease-out;
  }
  .sizes button {
    padding: 0.5rem 2rem;
    background: none;
    border: none;
    box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.2);
    border-radius: 30px;
    cursor: pointer;
    font-weight: bold;
    color: #585858;
  }
  button.active {
    background: #585858;
    color: white;
  }
  .purchase {
    margin-top: 5rem;
    transition: all 0.75s ease-out;
  }
  .purchase button {
    width: 100%;
    padding: 1rem 0rem;
    background: #f54642;
    border: none;
    color: white;
    cursor: pointer;
    border-radius: 30px;
    font-weight: bolder;
  }
}
